h1{
    color: #1c2b7d;
    text-align: center;
    box-shadow: 0 0 9px black;
  }
  .display {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.display p {
  font-size: 40px;
  margin: 5px;

}

.calculator {
  max-width: 400px;
  margin: auto;
  border: ridge;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}